{% extends 'base.html' %}

{% block title %}Home - YAASqueen{% endblock %}

{% block content %}
    <header>
        <div class="jumbotron">
            <h1 class="display-4">YAAS (Yes As A Service)</h1>
        </div>
    </header>

    <div class="my-5">
        <div class="container">
            <h2>I say yes to basically anything cool or interesting</h2>
        </div>
    </div>

    <div class="my-5">
        <div class="container">
            <p>Interests include: Math, Physics, ML, LLM applications</p>
        </div>
    </div>


    <div class="my-5">
        <div class="container">
            <h3>Hit me up!</h3>
            <p>Email: moshe@juniorllm.com</p>
        </div>
    </div>
    {% endblock %}